@media screen and (max-width: 1024px){
    #topPonuda .card{
        width:13rem;
    }
    #proizvodi .card{
        width:13rem;
    }
    .blok-opis p{
       margin-bottom: 10px;
    }
    .blok-opis h3 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #ispis_logo .card{
        width:8rem;
    }
    #ispisProizvoda .card{
        width:13rem;
    }
    table{
        width:80%;
    }
    #content{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 768px){
    #main{
        height: 350px;
    }
    .centriranje-proizvod{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    #topPonuda .card{
        width:15rem;
    }
    #proizvodi .card{
        width:15rem;
    }
    .blok-opis p{
        margin-bottom: 20px;
        font-size: 14px;
     }
     .blok-opis h3 {
        font-size: 24px;
     }
     #kontakt{
        width:80%;
     }
     #opis p{
        margin-bottom: 0rem;
     }
     #opis h2{
        font-size: 20px;
     }

     
}
@media screen and (max-width: 425px){
    #main{
        height: 200px;
    }
    h2{
        font-size: 20px !important;
    }
    #topPonuda .card{
        width:12rem;
    }
    #proizvodi .card{
        width:12rem;
    }
    .card-body h5{
        font-size: 16px;
    }
    .card-body p{
        font-size: 14px;
    }
    .card-body a{
        font-size: 10px;
    }
    .slika_opis img{
        height:0px;
    }
    .blok-opis h3{
        font-size: 18px;
    }
    .blok-opis{
        height:250px;
    }
   #sl-border img{
        border: 0px;
    }
    #social ul{
        padding-left: 0rem;
    }
    #imePrezime input,#drzavaGrad select{
        width:90%;
    }
    #dugmad input{
        margin-bottom: 10px;
        width: 60%;
    }
    #blok-slika img{
        width: 100%;
    }
    table{
        width:50%;
    }
    thead th, tbody td {
        padding: 2px;
        font-size: 8px;
    }
}
@media screen and (max-width: 375px){
    #social h4{
        font-size: 22px;
    }
    #footer ul li{
        font-size: 12px;
    }
    #copy{
        font-size: 14px;
    }
    .blok-opis p{
        margin-bottom: 10px;
     }
}
@media screen and (max-width: 320px){
    .blok-opis h3{
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
}